.container

    &-alarm
        @include Grid(3)

    &-timer
        @include Grid(5)

.select
    font-size: 2.5rem
    text-align: center

    @include Media
        font-size: 3rem

    &-colon
        font-size: 2rem

        @include Media
            font-size: 2.5rem