//==============================
// custom
//==============================

body
    color: white
    background-color: map-get($colors, 'theme-blue')

select
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none

option
    color: map-get($font, 'color')